Repository sensiblebit/certkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest, wrangler-build

.pre-commit-config.yaml:

repos:
  # ── Git Conventions ──
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: no commit to main
        args: [--branch, main]

  - repo: https://github.com/sensiblebit/.github
    rev: "0b4c9df"
    hooks:
      - id: branch-name
      - id: commit-message
      - id: goimports
      - id: go-fix
      - id: wasm
      - id: go-vet
      - id: go-build
      - id: go-test

  # ── JS / TS ──
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, ts, css, html]
        exclude: wasm_exec\.js$

  - repo: local
    hooks:
      - id: vitest
        name: vitest
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/
        exclude: wasm_exec\.js$
        pass_filenames: false

      - id: wrangler-build
        name: wrangler build
        entry: bash -c 'cd web && wrangler pages functions build --outdir /tmp/certkit-fn-check'
        language: system
        files: ^web/functions/
        types: [ts]
        pass_filenames: false

  # ── Markdown ──
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.yaml]

refactor: simplify substring matching in validation tests
  internal/certstore/validate_test.go
Due: none

fix: address post-merge review findings from PR #62 (#63)
  CHANGELOG.md
  cmd/wasm/validate.go
  internal/certstore/aia.go
  internal/certstore/validate.go
  internal/certstore/validate_test.go
Due: none

fix: address post-merge review findings from PR #63
  CHANGELOG.md
  internal/certstore/aia.go
  internal/certstore/validate_test.go
Due: none

fix: use certID for progress tracking and add progress test
  CHANGELOG.md
  internal/certstore/aia.go
  internal/certstore/aia_test.go
Due: none

fix: use certID in early-exit progress path
  internal/certstore/aia.go
Due: none

test: fix progress test to exercise multi-round scenario
  internal/certstore/aia_test.go
Due: none

test: assert total stability in progress test
  internal/certstore/aia_test.go
Due: none

docs: update commits-and-prs rule with PR workflow lessons
  .claude/rules/commits-and-prs.md
Due: none

fix: address post-merge review findings from PR #63 (#64)
  .claude/rules/commits-and-prs.md
  CHANGELOG.md
  internal/certstore/aia.go
  internal/certstore/aia_test.go
  internal/certstore/validate_test.go
Due: none

feat(web): add Inspect tab, certkitInspect WASM, and FormatDN
  CHANGELOG.md
  certkit_test.go
  cmd/certkit/inspect.go
  cmd/wasm/inspect.go
  cmd/wasm/main.go
  dn.go
  internal/inspect.go
  internal/inspect_test.go
  web/public/app.js
  web/public/index.html
  web/public/style.css
Due: vitest

feat(web): add Inspect tab, certkitInspect WASM, and FormatDN (#66)
  CHANGELOG.md
  certkit_test.go
  cmd/certkit/inspect.go
  cmd/wasm/inspect.go
  cmd/wasm/main.go
  dn.go
  internal/inspect.go
  internal/inspect_test.go
  web/public/app.js
  web/public/index.html
  web/public/style.css
Due: vitest

fix: address Ralph Loop adversarial review findings
  CHANGELOG.md
  cmd/wasm/inspect.go
  dn.go
  dn_test.go
  internal/inspect_test.go
  web/public/app.js
Due: vitest

fix: address Ralph Loop adversarial review findings (#67)
  CHANGELOG.md
  cmd/wasm/inspect.go
  dn.go
  dn_test.go
  internal/inspect_test.go
  web/public/app.js
Due: vitest

fix: consolidate tests, fix SanitizeFileName and escapeHTML bugs
  CHANGELOG.md
  certkit_test.go
  dn_test.go
  internal/certstore/helpers.go
  internal/certstore/helpers_test.go
  internal/certstore/validate_test.go
  internal/inspect_test.go
  jks_test.go
  web/functions/api/fetch.test.ts
  web/public/utils.js
  web/public/utils.test.js
Due: vitest, wrangler-build

fix: consolidate tests, fix SanitizeFileName and escapeHTML bugs (#68)
  CHANGELOG.md
  certkit_test.go
  dn_test.go
  internal/certstore/helpers.go
  internal/certstore/helpers_test.go
  internal/certstore/validate_test.go
  internal/inspect_test.go
  jks_test.go
  web/functions/api/fetch.test.ts
  web/public/utils.js
  web/public/utils.test.js
Due: vitest, wrangler-build

chore: schedule dependabot updates weekly on Monday UTC
  .github/dependabot.yml
Due: none

chore: schedule dependabot updates weekly on Monday UTC (#69)
  .github/dependabot.yml
Due: none

chore: prepare v0.8.1 release
  CHANGELOG.md
Due: none

chore: prepare v0.8.1 release (#71)
  CHANGELOG.md
Due: none

fix: consolidate AIA proxy allow list into suffix matches
  CHANGELOG.md
  web/functions/api/fetch.test.ts
  web/functions/api/fetch.ts
Due: vitest, wrangler-build

fix: consolidate AIA proxy allow list into suffix matches (#72)
  CHANGELOG.md
  web/functions/api/fetch.test.ts
  web/functions/api/fetch.ts
Due: vitest, wrangler-build

feat: add AIA-fetched badge to inspect results
  internal/inspect.go
  internal/inspect_test.go
  web/public/app.js
  web/public/style.css
Due: vitest

fix: add missing CHANGELOG.md entry for AIA-fetched badge
  CHANGELOG.md
Due: none

feat: add AIA-fetched badge to inspect results (#73)
  CHANGELOG.md
  internal/inspect.go
  internal/inspect_test.go
  web/public/app.js
  web/public/style.css
Due: vitest

feat: add OtherName SAN generation and mTLS round-trip support
  CHANGELOG.md
  csr.go
  csr_test.go
  dn.go
  dn_test.go
Due: none

fix: address PR review comments for OtherName SAN generation
  CHANGELOG.md
  csr.go
  csr_test.go
  dn.go
  dn_test.go
Due: none

fix: address second-round review comments on OtherName SAN
  CHANGELOG.md
  csr_test.go
  dn.go
  dn_test.go
Due: none

fix: address third-round review comments on OtherName SAN
  CHANGELOG.md
  dn.go
  dn_test.go
Due: none

fix: address fourth-round review comments on OtherName SAN
  CHANGELOG.md
  csr.go
  csr_test.go
  dn_test.go
Due: none

fix: address fifth-round review comments on OtherName SAN
  CHANGELOG.md
  dn.go
  dn_test.go
Due: none

test: remove T-9 violating mTLS cert test per review
  CHANGELOG.md
  dn_test.go
Due: none

fix: address seventh-round review comments on OtherName SAN
  CHANGELOG.md
  dn.go
  dn_test.go
Due: none

feat: add OtherName SAN generation and mTLS round-trip support (#74)
  CHANGELOG.md
  csr.go
  csr_test.go
  dn.go
  dn_test.go
Due: none

feat: add convert, sign, connect, ocsp, crl commands and verify --diagnose
  CHANGELOG.md
  cmd/certkit/connect.go
  cmd/certkit/convert.go
  cmd/certkit/crl.go
  cmd/certkit/ocsp.go
  cmd/certkit/root.go
  cmd/certkit/sign.go
  cmd/certkit/verify.go
  connect.go
  connect_test.go
  crl.go
  crl_test.go
  internal/verify.go
  internal/verify_test.go
  ocsp.go
  ocsp_test.go
  sign.go
  sign_test.go
Due: none

fix: address adversarial review findings on OpenSSL parity commands
  CHANGELOG.md
  cmd/certkit/connect.go
  connect.go
  connect_test.go
  ocsp_test.go
Due: none

style: use fmt.Fprintf instead of WriteString(fmt.Sprintf) (QF1012)
  connect.go
Due: none

feat: accept URLs as input to connect command
  cmd/certkit/connect.go
Due: none

fix: align JSON field names with codebase conventions (CLI-4)
  CHANGELOG.md
  cmd/certkit/connect.go
  cmd/certkit/convert.go
Due: none

fix: route crl --check verdict to stdout and include in JSON output
  CHANGELOG.md
  cmd/certkit/crl.go
Due: none

fix: address second-round review findings on PR #75
  CHANGELOG.md
  cmd/certkit/connect.go
  cmd/certkit/convert.go
  cmd/certkit/verify.go
  connect_test.go
  internal/verify.go
  ocsp_test.go
Due: none
