Repository sensiblebit/certkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest, wrangler-build

vitest:
  name: vitest
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false

wrangler-build:
  name: wrangler build
  entry: bash -c 'cd web && wrangler pages functions build --outdir /tmp/certkit-fn-check'
  language: system
  pass_filenames: false

fix(network): harden revocation fetch SSRF checks and connect timeout defaults
  CHANGELOG.md
  README.md
  bundle.go
  bundle_test.go
  certkit_test.go
  cmd/certkit/connect.go
  cmd/certkit/ocsp.go
  cmd/certkit/scan.go
  cmd/certkit/verify.go
  connect.go
  connect_test.go
  crl.go
  crl_test.go
  internal/certstore/aia.go
  internal/certstore/aia_test.go
  internal/verify.go
  internal/verify_test.go
  ocsp.go
  ocsp_test.go
Due: none

fix(scan): fail fast on walker processing errors
  CHANGELOG.md
  internal/io_test.go
  internal/scanwalk.go
  internal/scanwalk_test.go
  internal/symlink_test.go
Due: none

fix: address PR 105 reliability review feedback
  CHANGELOG.md
  cmd/certkit/crl.go
  cmd/wasm/aia.go
  cmd/wasm/export.go
  cmd/wasm/inspect.go
  cmd/wasm/main.go
  crl.go
  web/functions/api/fetch.test.ts
  web/functions/api/fetch.ts
Due: vitest, wrangler-build

fix: prevent parser fallback and JKS identity regressions
  CHANGELOG.md
  certkit.go
  certkit_test.go
  internal/certstore/container.go
  internal/certstore/container_test.go
  internal/certstore/memstore.go
  internal/certstore/sqlite.go
  internal/certstore/sqlite_test.go
  sign.go
  sign_test.go
Due: none

fix(network): propagate SSRF validation deadlines and unblock inspect AIA opt-in
  CHANGELOG.md
  README.md
  bundle.go
  certkit_test.go
  cmd/certkit/inspect.go
  cmd/certkit/scan.go
  connect.go
  connect_test.go
  crl.go
  internal/certstore/aia.go
  internal/inspect.go
  ocsp.go
Due: none

fix(inspect): preserve valid keys when PEM bundle has malformed blocks
  CHANGELOG.md
  internal/inspect.go
  internal/inspect_test.go
Due: none

fix(web): enforce upstream timeout through body reads
  CHANGELOG.md
  web/functions/api/fetch.test.ts
  web/functions/api/fetch.ts
Due: vitest, wrangler-build

fix(scan): use typed max-size errors in read paths
  CHANGELOG.md
  internal/io.go
  internal/io_test.go
Due: none

fix(bundle): restore private-network opt-in for AIA chain fetches
  CHANGELOG.md
  README.md
  cmd/certkit/bundle.go
Due: none

fix(scan): reject invalid export formats consistently
  CHANGELOG.md
  cmd/certkit/scan.go
  internal/io_test.go
  internal/symlink_test.go
  internal/testhelpers_test.go
Due: none

fix: address remaining PR 107 review feedback
  CHANGELOG.md
  certkit.go
  certkit_test.go
  jks.go
Due: none

fix(network): address remaining PR feedback for inspect AIA handling
  CHANGELOG.md
  cmd/certkit/inspect.go
  cmd/certkit/scan.go
  cmd/wasm/inspect.go
  internal/certstore/aia.go
  web/public/app.js
  web/public/index.html
Due: vitest

fix: address latest PR 105 review feedback
  CHANGELOG.md
  cmd/wasm/aia.go
  cmd/wasm/export.go
  cmd/wasm/main.go
  crl.go
  crl_test.go
  web/public/app.js
Due: vitest

fix(jks): surface skipped-entry reasons in debug logs
  CHANGELOG.md
  jks.go
Due: none

fix(crl): clarify read errors and harden size-limit coverage
  CHANGELOG.md
  crl.go
  crl_test.go
Due: none

fix(scan): keep export destination off stdout
  CHANGELOG.md
  cmd/certkit/scan.go
  internal/format.go
  internal/format_test.go
Due: none

fix(wasm): keep AIA resolution working without DNS lookups
  CHANGELOG.md
  bundle.go
  bundle_lookup_default.go
  bundle_lookup_js.go
  certkit_test.go
  cmd/wasm/aia.go
  cmd/wasm/main.go
  web/public/app.js
  web/public/index.html
Due: vitest

fix(wasm): harden ingestion and require explicit unverified export (#105)
  CHANGELOG.md
  cmd/certkit/crl.go
  cmd/wasm/aia.go
  cmd/wasm/export.go
  cmd/wasm/inspect.go
  cmd/wasm/main.go
  crl.go
  crl_test.go
  web/functions/api/fetch.test.ts
  web/functions/api/fetch.ts
  web/public/app.js
Due: vitest, wrangler-build

fix: harden core parsing and identity selection (#107)
  CHANGELOG.md
  certkit.go
  certkit_test.go
  cmd/certkit/ocsp.go
  internal/certstore/container.go
  internal/certstore/container_test.go
  internal/certstore/memstore.go
  internal/certstore/memstore_test.go
  internal/certstore/sqlite.go
  internal/certstore/sqlite_test.go
  internal/inspect.go
  internal/inspect_test.go
  jks.go
  jks_test.go
  sign.go
  sign_test.go
Due: none

fix(scan): harden scan boundaries and export text summary (#106)
  CHANGELOG.md
  cmd/certkit/scan.go
  internal/format.go
  internal/format_test.go
  internal/io.go
  internal/io_test.go
  internal/scanwalk.go
  internal/scanwalk_test.go
  internal/testhelpers_test.go
Due: none

fix(network): harden SSRF fetch validation and apply default connect timeout (#108)
  CHANGELOG.md
  README.md
  bundle.go
  bundle_lookup_default.go
  bundle_lookup_js.go
  bundle_test.go
  certkit_test.go
  cmd/certkit/bundle.go
  cmd/certkit/connect.go
  cmd/certkit/inspect.go
  cmd/certkit/ocsp.go
  cmd/certkit/scan.go
  cmd/certkit/verify.go
  cmd/wasm/aia.go
  cmd/wasm/inspect.go
  cmd/wasm/main.go
  connect.go
  connect_test.go
  crl.go
  crl_test.go
  internal/certstore/aia.go
  internal/certstore/aia_test.go
  internal/inspect.go
  internal/verify.go
  internal/verify_test.go
  ocsp.go
  ocsp_test.go
  web/public/app.js
  web/public/index.html
Due: vitest

fix(cli): align validation exits and secure export defaults
  CHANGELOG.md
  EXAMPLES.md
  README.md
  cmd/certkit/bundle.go
  cmd/certkit/cli_semantics_test.go
  cmd/certkit/convert.go
  cmd/certkit/convert_test.go
  cmd/certkit/inspect.go
  cmd/certkit/ocsp.go
  cmd/certkit/payload_json.go
  cmd/certkit/root.go
  cmd/certkit/scan.go
  cmd/certkit/verify.go
  internal/certstore/export.go
  internal/certstore/export_test.go
  internal/exporter_test.go
  internal/verify.go
  internal/verify_test.go
Due: none

fix(tests): align PR #109 follow-up feedback
  CHANGELOG.md
  cmd/certkit/cli_semantics_test.go
  cmd/certkit/convert.go
  cmd/certkit/convert_test.go
  internal/certstore/export.go
  internal/certstore/export_test.go
Due: none

fix(cli): address PR #109 review feedback
  CHANGELOG.md
  EXAMPLES.md
  cmd/certkit/bundle.go
  cmd/certkit/cli_semantics_test.go
  cmd/certkit/convert.go
  cmd/certkit/scan.go
  internal/verify_test.go
Due: none

fix(cli): normalize validation exits, JSON schema, and export defaults (#109)
  CHANGELOG.md
  EXAMPLES.md
  README.md
  cmd/certkit/bundle.go
  cmd/certkit/cli_semantics_test.go
  cmd/certkit/convert.go
  cmd/certkit/convert_test.go
  cmd/certkit/inspect.go
  cmd/certkit/ocsp.go
  cmd/certkit/payload_json.go
  cmd/certkit/root.go
  cmd/certkit/scan.go
  cmd/certkit/verify.go
  internal/certstore/export.go
  internal/certstore/export_test.go
  internal/exporter_test.go
  internal/verify.go
  internal/verify_test.go
Due: none

fix(security): remediate current code scanning alerts
  .github/workflows/deploy-pages.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  certkit.go
  certkit_test.go
  connect.go
  scripts/branch-name-check.sh
Due: none

build(hooks): consume shared develop branch-name exemption
  .pre-commit-config.yaml
  scripts/branch-name-check.sh
Due: none

fix: address PR 110 review feedback
  CHANGELOG.md
  CLAUDE.md
  cmd/certkit/scan.go
  cmd/wasm/main.go
  jks.go
  web/functions/api/fetch.ts
Due: vitest, wrangler-build

chore: release v0.8.2
  CHANGELOG.md
Due: none

chore: release v0.8.2 (#111)
  CHANGELOG.md
Due: none

fix(scan): reduce runtime noise and tolerate untrusted exports
  CHANGELOG.md
  EXAMPLES.md
  README.md
  bundle.go
  cmd/certkit/bundle.go
  cmd/certkit/convert.go
  cmd/certkit/convert_test.go
  cmd/certkit/root.go
  cmd/certkit/scan.go
  connect.go
  connect_test.go
  internal/archive.go
  internal/archive_test.go
  internal/certstore/export.go
  internal/certstore/process.go
  internal/certstore/process_test.go
  internal/crypto.go
  internal/crypto_test.go
  internal/exporter.go
  internal/exporter_test.go
  internal/format.go
  internal/format_test.go
Due: none

fix(scan): address review feedback on progress and compat parsing
  cmd/certkit/bundle.go
  cmd/certkit/convert.go
  cmd/certkit/scan.go
  internal/certstore/memstore.go
  internal/certstore/process.go
  internal/certstore/process_test.go
  internal/exporter.go
Due: none

test: harden scan/export coverage and tighten tar detection
  CHANGELOG.md
  cmd/certkit/bundle_password_test.go
  connect_test.go
  internal/archive.go
  internal/archive_test.go
  internal/certstore/export_test.go
  internal/certstore/memstore_test.go
  internal/certstore/process_test.go
  internal/crypto.go
  internal/crypto_test.go
  internal/exporter_test.go
Due: none

test: close ralph hygiene findings across suites
  certkit_test.go
  cmd/certkit/cli_semantics_test.go
  connect_test.go
  crl_test.go
  internal/certstore/container_test.go
  internal/certstore/process_test.go
  internal/certstore/validate_test.go
  internal/keygen_test.go
  internal/verify_test.go
  legacyprobe_test.go
  ocsp_test.go
  sign_test.go
Due: none

fix: address PR review feedback on scan/connect/export
  CHANGELOG.md
  cmd/certkit/connect.go
  cmd/certkit/scan.go
  connect.go
  connect_test.go
  internal/certstore/process.go
  internal/exporter.go
  internal/exporter_test.go
Due: none

fix(scan): reduce runtime noise and tolerate untrusted exports (#112)
  CHANGELOG.md
  EXAMPLES.md
  README.md
  bundle.go
  certkit_test.go
  cmd/certkit/bundle.go
  cmd/certkit/bundle_password_test.go
  cmd/certkit/cli_semantics_test.go
  cmd/certkit/connect.go
  cmd/certkit/convert.go
  cmd/certkit/convert_test.go
  cmd/certkit/root.go
  cmd/certkit/scan.go
  connect.go
  connect_test.go
  crl_test.go
  internal/archive.go
  internal/archive_test.go
  internal/certstore/container_test.go
  internal/certstore/export.go
  internal/certstore/export_test.go
  internal/certstore/memstore.go
  internal/certstore/memstore_test.go
  internal/certstore/process.go
  internal/certstore/process_test.go
  internal/certstore/validate_test.go
  internal/crypto.go
  internal/crypto_test.go
  internal/exporter.go
  internal/exporter_test.go
  internal/format.go
  internal/format_test.go
  internal/keygen_test.go
  internal/verify_test.go
  legacyprobe_test.go
  ocsp_test.go
  sign_test.go
Due: none

fix(connect): warn on misordered certificate chains
  CHANGELOG.md
  connect.go
  connect_test.go
Due: none

docs(changelog): reference PR #119 for misordered-chain
  CHANGELOG.md
Due: none

fix(connect): warn on misordered certificate chains (#119)
  CHANGELOG.md
  connect.go
  connect_test.go
Due: none

Path conditions:
  vitest: any of: ^web/, but not: wasm_exec\.js$
  wrangler-build: any of: ^web/functions/ and \.(ts|mts|cts)$
