Repository sensiblebit/certkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest, wrangler-build

.pre-commit-config.yaml:

repos:
  # ── Git Conventions ──
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: no commit to main
        args: [--branch, main]

  - repo: https://github.com/sensiblebit/.github
    rev: "0b4c9df"
    hooks:
      - id: branch-name
      - id: commit-message
      - id: goimports
      - id: go-fix
      - id: wasm
      - id: go-vet
      - id: go-build
      - id: go-test

  # ── JS / TS ──
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, ts, css, html]
        exclude: wasm_exec\.js$

  - repo: local
    hooks:
      - id: vitest
        name: vitest
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/
        exclude: wasm_exec\.js$
        pass_filenames: false

      - id: wrangler-build
        name: wrangler build
        entry: bash -c 'cd web && wrangler pages functions build --outdir /tmp/certkit-fn-check'
        language: system
        files: ^web/functions/
        types: [ts]
        pass_filenames: false

  # ── Markdown ──
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.yaml]

docs: add changelog link for extension commit
  CHANGELOG.md
Due: none

docs: refresh stale library and web notes
  .claude/docs/architecture.md
  README.md
Due: none

docs: remove stale architecture bullets
  .claude/docs/architecture.md
Due: none

fix: address post-merge trust anchor follow-ups
  .claude/docs/architecture.md
  CHANGELOG.md
  EXAMPLES.md
  cmd/certkit/connect.go
  cmd/certkit/connect_test.go
  internal/verify.go
  internal/verify_test.go
Due: none

docs: restore trust anchor README notes
  README.md
Due: none

docs: remove duplicated architecture bullets
  .claude/docs/architecture.md
Due: none

fix: add missing changelog reference link for PR #172
  CHANGELOG.md
Due: none

fix: clear false-positive AIA incomplete from empty root pool in pre-verification walk
  internal/verify.go
  internal/verify_test.go
Due: none

fix: harden post-merge verification audit follow-ups
  .claude/docs/architecture.md
  .github/scripts/pr-comments.py
  .github/scripts/test_pr_comments.py
  CHANGELOG.md
  EXAMPLES.md
  RALPH.md
  README.md
  bundle.go
  bundle_test.go
  certkit_test.go
  cmd/certkit/cli_semantics_test.go
  cmd/certkit/convert.go
  cmd/certkit/convert_test.go
  cmd/certkit/keygen.go
  cmd/certkit/root.go
  cmd/certkit/sign.go
  cmd/certkit/tree.go
  cmd/certkit/verify.go
  cmd/certkit/verify_test.go
  connect_test.go
  internal/archive.go
  internal/archive_test.go
  internal/certstore/memstore.go
  internal/certstore/process.go
  internal/certstore/process_test.go
  internal/certstore/validate.go
  internal/certstore/validate_test.go
  internal/verify.go
  internal/verify_test.go
  web/functions/api/fetch.test.ts
  web/functions/api/fetch.ts
  web/public/app.js
  web/public/browser_io.js
  web/public/browser_io.test.js
Due: vitest, wrangler-build

style: apply prettier to browser io helper
  web/public/browser_io.js
Due: vitest

docs: align examples and readme with current outputs
  EXAMPLES.md
  RALPH.md
  README.md
Due: none

fix: address follow-up review comments
  .claude/docs/architecture.md
  CHANGELOG.md
  EXAMPLES.md
  RALPH.md
  README.md
  cmd/certkit/verify.go
  cmd/certkit/verify_test.go
  internal/certstore/process_test.go
  web/public/browser_io.js
  web/public/browser_io.test.js
Due: vitest

fix: simplify tree output defaults
  .claude/docs/architecture.md
  CHANGELOG.md
  EXAMPLES.md
  RALPH.md
  README.md
  cmd/certkit/cli_semantics_test.go
  cmd/certkit/readonly_commands_test.go
  cmd/certkit/tree.go
Due: none

fix: restore duplicate SKI validation fallback
  RALPH.md
  internal/certstore/validate.go
  internal/certstore/validate_test.go
Due: none

fix: address tree review feedback
  cmd/certkit/cli_semantics_test.go
  cmd/certkit/tree.go
Due: none

docs: tighten readme accuracy
  RALPH.md
  README.md
Due: none

fix: address follow-up review comments
  RALPH.md
  README.md
  go.mod
  go.sum
  internal/certstore/validate_test.go
Due: none

fix: derive k8s secret name from bundle folder instead of CN prefix
  CHANGELOG.md
  go.mod
  go.sum
  internal/certstore/export.go
Due: none

fix: validate bundleName as DNS-1123 at config load time
  CHANGELOG.md
  internal/bundleconfig.go
  internal/bundleconfig_test.go
  internal/certstore/export.go
  internal/certstore/export_test.go
  internal/certstore/helpers.go
Due: none

fix: correct DNS-1123 label max length and update architecture docs
  .claude/docs/architecture.md
  internal/certstore/helpers.go
Due: none

fix: derive k8s secret name from bundle folder instead of CN prefix (#178)
  .claude/docs/architecture.md
  CHANGELOG.md
  go.mod
  go.sum
  internal/bundleconfig.go
  internal/bundleconfig_test.go
  internal/certstore/export.go
  internal/certstore/export_test.go
  internal/certstore/helpers.go
Due: none

docs: add JSON template example to csr command help
  cmd/certkit/csr.go
Due: none

docs: add JSON template example to csr command help (#179)
  cmd/certkit/csr.go
Due: none

build: upgrade all npm dependencies
  web/package-lock.json
  web/package.json
Due: vitest

build: require node >= 24 for web dependencies
  web/package-lock.json
  web/package.json
Due: vitest

build: upgrade all npm dependencies (#180)
  web/package-lock.json
  web/package.json
Due: vitest

perf: parallelize trust verification and default to mozilla root store
  CHANGELOG.md
  README.md
  bundle.go
  bundle_test.go
  cmd/certkit/scan.go
  cmd/wasm/main.go
  internal/certstore/memstore.go
  internal/verify.go
  web/package-lock.json
Due: vitest

perf: bound system trust concurrency, fix nil panic, lint fixes
  bundle.go
  cmd/certkit/scan.go
  internal/certstore/memstore.go
  internal/exporter.go
  internal/verify_test.go
Due: none

fix: preserve export system trust retry errors
  internal/exporter.go
  internal/exporter_test.go
Due: none

perf: parallelize trust verification and default to mozilla root store (#183)
  CHANGELOG.md
  README.md
  bundle.go
  bundle_test.go
  cmd/certkit/scan.go
  cmd/wasm/main.go
  internal/certstore/memstore.go
  internal/exporter.go
  internal/exporter_test.go
  internal/verify.go
  internal/verify_test.go
  web/package-lock.json
Due: vitest

fix: enforce presented TLS chain validation in connect
  CHANGELOG.md
  README.md
  cmd/certkit/connect.go
  cmd/certkit/connect_test.go
  connect.go
  connect_test.go
  go.mod
  go.sum
  probe_legacy.go
  web/package-lock.json
Due: vitest

fix: enforce presented TLS chain validation in connect (#190)
  CHANGELOG.md
  README.md
  cmd/certkit/connect.go
  cmd/certkit/connect_test.go
  connect.go
  connect_test.go
  go.mod
  go.sum
  probe_legacy.go
  web/package-lock.json
Due: vitest

fix: default readonly trust to mozilla and fix export csr subjects
  CHANGELOG.md
  README.md
  bundle.go
  cmd/certkit/connect.go
  cmd/certkit/connect_test.go
  cmd/certkit/inspect.go
  cmd/certkit/readonly_commands_test.go
  cmd/certkit/scan.go
  cmd/certkit/truststore.go
  cmd/certkit/verify.go
  cmd/wasm/inspect.go
  go.mod
  go.sum
  internal/certstore/export.go
  internal/certstore/export_test.go
  internal/exporter.go
  internal/exporter_test.go
  internal/inspect.go
  internal/inspect_test.go
  internal/verify.go
  internal/verify_test.go
  web/package-lock.json
Due: vitest

fix: address exporter review feedback
  CHANGELOG.md
  internal/exporter.go
  internal/exporter_test.go
Due: none

fix: export exact matched cert for reused ski
  internal/certstore/export.go
  internal/certstore/export_test.go
  internal/exporter.go
Due: none

fix: fail fast on invalid readonly trust stores
  cmd/certkit/inspect.go
  cmd/certkit/readonly_commands_test.go
  cmd/certkit/verify.go
Due: none

fix: address remaining PR review comments
  cmd/certkit/readonly_commands_test.go
  cmd/certkit/scan.go
  cmd/certkit/truststore.go
  internal/certstore/memstore.go
  internal/exporter.go
Due: none

fix: address remaining PR review feedback
  CHANGELOG.md
  bundle.go
  bundle_test.go
  cmd/certkit/inspect.go
  cmd/certkit/readonly_commands_test.go
  cmd/certkit/scan.go
  cmd/certkit/truststore.go
  cmd/certkit/verify.go
  cmd/certkit/verify_test.go
  internal/inspect.go
Due: none

fix: default readonly trust to mozilla and fix export csr subjects (#195)
  CHANGELOG.md
  README.md
  bundle.go
  bundle_test.go
  cmd/certkit/connect.go
  cmd/certkit/connect_test.go
  cmd/certkit/inspect.go
  cmd/certkit/readonly_commands_test.go
  cmd/certkit/scan.go
  cmd/certkit/truststore.go
  cmd/certkit/verify.go
  cmd/certkit/verify_test.go
  cmd/wasm/inspect.go
  go.mod
  go.sum
  internal/certstore/export.go
  internal/certstore/export_test.go
  internal/certstore/memstore.go
  internal/exporter.go
  internal/exporter_test.go
  internal/inspect.go
  internal/inspect_test.go
  internal/verify.go
  internal/verify_test.go
  web/package-lock.json
Due: vitest
