Repository sensiblebit/certkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: goimports, go-vet, go-build, go-test, wrangler-build

goimports:
  name: goimports
  entry: goimports -w
  language: golang
  additional_dependencies:
  - golang.org/x/tools/cmd/goimports@latest

go-vet:
  name: go vet
  entry: go vet ./...
  language: golang
  pass_filenames: false

go-build:
  name: go build
  entry: go build ./...
  language: golang
  pass_filenames: false

go-test:
  name: go test
  entry: go test ./...
  language: golang
  pass_filenames: false

wrangler-build:
  name: wrangler build
  entry: bash -c 'cd web && wrangler pages functions build --outdir /tmp/certkit-fn-check'
  language: system
  pass_filenames: false

Release v0.7.3
  CHANGELOG.md
Due: none

Add web test infrastructure and ES module conversion
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  CLAUDE.md
  web/functions/api/fetch.test.ts
  web/functions/api/fetch.ts
  web/package-lock.json
  web/package.json
  web/public/app.js
  web/public/index.html
  web/public/utils.js
  web/public/utils.test.js
  web/vitest.config.ts
Due: wrangler-build

Release v0.7.4
  CHANGELOG.md
Due: none

Fix AIA resolution for PKCS#7 (.p7c) certificate responses
  CHANGELOG.md
  CLAUDE.md
  bundle.go
  bundle_test.go
  certkit.go
  certkit_test.go
  internal/certstore/aia.go
  internal/certstore/aia_test.go
Due: goimports, go-vet, go-build, go-test

Release v0.7.5
  CHANGELOG.md
Due: none

Consolidate fpki.gov allow list entries and add cite.fpki.gov
  CHANGELOG.md
  web/functions/api/fetch.test.ts
  web/functions/api/fetch.ts
Due: wrangler-build

Expand AIA proxy to 142 CA domains, add table sorting and key filtering
  CHANGELOG.md
  CLAUDE.md
  Makefile
  web/functions/api/fetch.test.ts
  web/functions/api/fetch.ts
  web/public/app.js
  web/public/index.html
  web/public/style.css
Due: wrangler-build

Split CLAUDE.md into on-demand pieces to reduce context usage
  .claude/docs/architecture.md
  .claude/rules/web-testing.md
  .claude/skills/ralph/SKILL.md
  CLAUDE.md
Due: none

Harden test suite and fix WASM ZIP timestamps
  CHANGELOG.md
  certkit_test.go
  cmd/wasm/export.go
  internal/certstore/aia_test.go
  internal/certstore/container_test.go
  internal/certstore/export_test.go
  internal/certstore/memstore_test.go
  internal/certstore/process_test.go
  internal/certstore/sqlite_test.go
  internal/certstore/testhelpers_test.go
  pkcs_test.go
Due: goimports, go-vet, go-build, go-test

Harden tests (LOW fixes) and normalize Ed25519 key storage
  CHANGELOG.md
  bundle_test.go
  certkit.go
  certkit_test.go
  internal/certstore/container_test.go
  internal/certstore/export_test.go
  internal/certstore/helpers_test.go
  internal/certstore/memstore.go
  internal/certstore/memstore_test.go
  internal/certstore/process_test.go
  pkcs_test.go
Due: goimports, go-vet, go-build, go-test

Normalize keys at all entry points and add type verification tests
  CHANGELOG.md
  certkit.go
  internal/certstore/container_test.go
  internal/certstore/export.go
  internal/certstore/export_test.go
  internal/certstore/memstore.go
  internal/certstore/process_test.go
  internal/certstore/sqlite_test.go
  jks.go
  pkcs.go
Due: goimports, go-vet, go-build, go-test

Harden key handling tests with normalization and round-trip coverage
  CHANGELOG.md
  certkit_test.go
  internal/certstore/container_test.go
  internal/certstore/memstore_test.go
  internal/certstore/process_test.go
  internal/certstore/testhelpers_test.go
  jks_test.go
Due: goimports, go-vet, go-build, go-test

Fix Ed25519 pointer-form key marshaling in MarshalPrivateKeyToPEM and EncodeJKS
  CHANGELOG.md
  certkit.go
  certkit_test.go
  internal/certstore/memstore_test.go
  internal/certstore/process_test.go
  internal/certstore/testhelpers_test.go
  jks.go
  jks_test.go
Due: goimports, go-vet, go-build, go-test

Update changelog commit refs for 0fa55af
  CHANGELOG.md
Due: none

Fix ClassifyHosts email detection and accept legacy CSR PEM type
  CHANGELOG.md
  certkit.go
  certkit_test.go
  csr.go
  csr_test.go
Due: goimports, go-vet, go-build, go-test

Update changelog commit refs for 2221a47
  CHANGELOG.md
Due: none

Replace custom Go dependency workflow with Dependabot gomod
  .github/dependabot.yml
  .github/workflows/autoupdate-dependencies-go.yml
Due: none

Normalize Ed25519 keys in EncodePKCS12 and harden key handling tests
  CHANGELOG.md
  certkit_test.go
  jks_test.go
  pkcs.go
  pkcs_test.go
Due: goimports, go-vet, go-build, go-test

Update changelog commit refs for 1661e53
  CHANGELOG.md
Due: none

Add Ed25519 normalization tests for remaining container paths
  CHANGELOG.md
  certkit_test.go
  internal/certstore/container_test.go
Due: goimports, go-vet, go-build, go-test

Update changelog commit refs for f23f8ab
  CHANGELOG.md
Due: none

Add key-cert matching and pointer-form tests (iteration 3)
  CHANGELOG.md
  certkit_test.go
  internal/certstore/container_test.go
Due: goimports, go-vet, go-build, go-test

Update changelog commit refs for 2fc570c
  CHANGELOG.md
Due: none

ci: expand to 16 granular PR checks with shared Python CLI
  .claude/rules/commits-and-prs.md
  .github/workflows/ci.yml
  .markdownlint.yaml
  .pre-commit-config.yaml
  CLAUDE.md
  scripts/checks.py
Due: none

ci: consolidate CI jobs, improve checks.py, add GitHub templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CLAUDE.md
  scripts/checks.py
Due: none

ci: optimize CI, improve checks.py, add GitHub templates (#29)
  .claude/rules/commits-and-prs.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .markdownlint.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  CLAUDE.md
  scripts/checks.py
Due: none

ci: add conventional commit prefix to Dependabot PRs
  .github/dependabot.yml
  CHANGELOG.md
Due: none

ci: run all steps in consolidated jobs even when earlier steps fail
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

ci: add Dependabot conventional commit prefix and run all CI steps to completion (#32)
  .github/dependabot.yml
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

ci: set all Dependabot schedules to daily
  .github/dependabot.yml
Due: none

ci: set all Dependabot schedules to daily (#33)
  .github/dependabot.yml
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

ci: add Claude Code PR review and Copilot review instructions
  .github/copilot-instructions.md
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  CHANGELOG.md
Due: none

ci: add Claude Code PR review and Copilot review instructions (#35)
  .github/copilot-instructions.md
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  CHANGELOG.md
Due: none

docs: update README for post-0.7.0 changes
  README.md
Due: none

docs: update README for post-0.7.0 changes (#36)
  README.md
Due: none

docs: fix stale content in EXAMPLES.md
  EXAMPLES.md
Due: none

ci: enable debug output for Claude Code review
  .github/workflows/claude-code-review.yml
Due: none

docs: fix stale content in EXAMPLES.md (#37)
  .github/workflows/claude-code-review.yml
  EXAMPLES.md
Due: none

Path conditions:
  goimports: any of: \.go$
  go-vet: any of: \.go$
  go-build: any of: \.go$
  go-test: any of: \.go$
  wrangler-build: any of: ^web/functions/ and \.(ts|mts|cts)$
